mat-card{
  border: 1px solid var(--primary-color)
}
textarea{
  width: 100%;
  font-size: 16px;
}
mat-card-header{
  padding-top: 0;
}
mat-card-actions{
  display: flex;
  gap: 5px;
}
.active-calculator-input{
  background: var(--primary-color);
}
