<mat-card class="example-card">
  <mat-card-header>
    <mat-card-actions>
      <button mat-mini-fab color="accent" (click)="calculate()">
        <mat-icon fontIcon="play_arrow"></mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="mathJaxEnabled = !mathJaxEnabled">
        <mat-icon fontIcon="shuffle"></mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="addInput.emit()">
        <mat-icon fontIcon="add"></mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="deleteInput.emit()">
        <mat-icon fontIcon="close"></mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="resetInput()">
        <mat-icon fontIcon="C" class="fix-letter-icon"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>

  <mat-card-content>
    @if (mathJaxEnabled) {
      <div [mathjax]="mathJaxInput" (click)="mathJaxEnabled = !mathJaxEnabled"></div>
    } @else {
      <textarea
        [formControl]="formControl"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        (focus)="setActive.emit()"
        #input
      ></textarea>
    }
  </mat-card-content>
  @if (calculationResult && !mathJaxEnabled) {
    <mat-card-content>
      <div [innerHTML]="calculationResult"></div>
    </mat-card-content>
  }

</mat-card>
