<router-outlet></router-outlet>
<app-tool-bar></app-tool-bar>
<!--<div>$$ x = 1 $$</div>-->
<!--ddd-->
<!--<span [mathjax]="'When $a \\ne 0$, there are ftwo solutions to $\\frac{5}{9}$'">ddddddd</span>-->
<!--<div [mathjax]="'When $a \\ne 0$, there are ftwo solutions to $\\frac{5}{9}$'">ddddddd</div>-->
<!--<div [mathjax]="'When $a \\ne 0$, there are ftwo solutions to $\\frac{5}{9}$'">ddddddd</div>-->
<!--<div [mathjax]="'When $a \\ne 0$, there are ftwo solutions to $\\frac{5}{9}$'">ddddddd</div>-->
<!--<div [mathjax]="'When $a \\ne 0$, there are ftwo solutions to $\\frac{5}{9}$'">ddddddd</div>-->
