html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Material
.fix-letter-icon{
  position: absolute;
  bottom: 12px;
}

:root {
  --accent-color: #ff4081;
  --primary-color: #3f51b5;
  --text-color: white;
}

.bg-accent{
  background: var(--accent-color) !important;
  --mat-expansion-header-indicator-color: var(--text-color);
  --mat-expansion-header-text-color: var(--text-color);
  &:hover{
    background: var(--accent-color) !important;
  }
}

